<%= flash_message %>

<h2><%= @project.name %></h2>

<ul>
  <% @entries.each do |entry| %>
    <li>
      <%= link_to "#{entry.hours} h #{entry.minutes} m - #{entry.date}",
      edit_project_entry_path(@project, entry.id) %>
      <%= link_to('Delete', project_entry_path(@project, entry),
        method: :delete, data: {confirm: 'Are you sure?'}) %>
    </li>
  <% end %>
</ul>

<p> Total hours worked this month <%= total_work_hours(@project) %></p>

<%= link_to 'Back to Projects', projects_path %>
<%= link_to 'New Entry', new_project_entry_path(@project.id) %>

