<h2><%= @project.name %></h2>

<ul>
  <% @entries.each do |entry| %>
    <li>
      <%= "#{entry.hours} h #{entry.minutes} m - #{entry.date}"%>
    </li>
  <% end %>
</ul>

<p> Total hours worked this month <%= @total_hours %></p>

<%= link_to 'Back to Projects', projects_path %>
<%= link_to 'New Entry', new_project_entry_path(@project.id) %>

